
.App ul {
  list-style: none;
  display: flex;
}

.variantRow {
  display: flex;
  margin-right: 20px;
}

.App ul li {
  padding: 5px;
}
.selected {
  background-color: green;
}
.available {
  background-color: yellow;
}
.notAvailable {
  background-color: red;
}
